In [ ]:
import pandas as pd

In [ ]:
ctrain = pd.read_csv('/content/drive/MyDrive/ETH-USD.csv')

In [ ]:
ctrain.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the Ethereum dataset
eth_data = pd.read_csv('/content/drive/MyDrive/ETH-USD.csv')

# Select the relevant features for the model
features = ['Open', 'High', 'Low', 'Volume']

# Set the target variable
target = 'Close'

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(eth_data[features], eth_data[target], test_size=0.2, random_state=42)

# Initialize the XGBoost model
model = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1, max_depth = 5, alpha = 10, n_estimators = 100)

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the root mean squared error of the predictions
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 105.189073

In [ ]:
print(y_pred)

[ 302.07684  1884.2131    155.3951   4039.9468   2265.9507    272.11343
  481.69067   429.68655   187.2165    137.2137   4377.614    1389.3976
  158.84799   106.3309    114.17282   290.4343    141.48137  2069.7966
 1811.8419   3933.3848    243.84163   138.8093   1843.872     211.1048
  455.7842    426.11966    98.54954   298.09918  1860.2815    283.90854
  210.09538   164.89902   562.5161   1642.9376    626.83575  2624.49
 2975.6875   1865.0327    492.8024   3434.3677   4096.9463    350.4227
 3977.6606    153.98509   307.25162  4454.675    2082.0505   3004.3271
  419.11914  1790.0981    690.2128    459.055     226.98058   203.4731
  117.259    2918.852     681.1497   1211.8136    292.42117  2414.0303
   92.16847   258.15726   872.3527    335.58942  2370.147    2836.0671
  140.54543   238.44379   172.15338  2562.732    1803.7778    289.12405
  529.70593    94.03179   711.6807   2790.993     515.1823    173.41864
  139.4675    767.00977  1555.7295   1272.385     390.93652  1923.6332
 2584.7668    341.85107  3314.045     118.459274 1785.1166    316.2102
 2239.6956   1214.1715    196.867    1038.3702   3174.104    1621.7998
  142.37766   107.53035   125.430275 4101.706     896.35876   419.18176
 2344.8994   1029.4988   1834.0261   1678.9791   4274.078    3020.7424
 2075.3438   3244.1064    169.14374  2857.7585    690.2128    107.53035
  118.764015  446.33954  2661.944     172.49411  1101.8108   1606.6753
 3071.5237   1797.7869   1602.7357    163.33951  2102.9956    107.53035
 1824.6058   2357.862     527.94104    94.5593    464.9775    435.41055
 1557.683     110.30298   115.2715    212.99673   905.3321   2210.5173
  117.66533   522.6746    472.12357  2573.5686    223.14793  3763.6948
  109.71433  1784.7273    189.91118   143.61345   172.37517   404.9379
  783.5349   3079.6687   1903.9977    337.98193   201.93488  3241.9277
  107.53035   258.4019    175.12949   706.46436   205.43813   165.96791
  141.95119   449.79977   953.11694   454.44464   446.33954   259.4444
  178.95303  1396.4164   3789.6409    361.61465   194.6906    534.6254
  209.02605   226.76581  3063.3728    108.83226   138.66739    73.78788
  125.88028   336.40497   459.5399   1921.427    1804.573     499.7115
  446.33954   107.53035   118.764015  455.7842   1101.5168   3228.5881
  133.1541    707.4976   1551.7041   3341.3328   1837.9961    445.81342
 3579.4844   2196.0198    192.97449   134.19711   477.3923   2512.6133
  409.29623   162.55327  2088.9185   3309.4004    107.53035  3090.539
  180.21251    81.1311    421.9821    148.23366   187.35928   990.9138
   94.054794  497.9115   1977.1194    519.4362   2833.3435    972.08484
  864.48615   307.0747    143.07317   452.69553  1987.9303    173.15277
  424.05655   159.398     128.75853   638.4171   2653.9438    168.335
  195.70747   971.1741   4646.441     117.66533   201.43402   143.55525
 1808.3359   3782.4353    197.66      106.3309    698.0794    133.03249
  495.1913   3096.8997   1396.7003    107.53035   241.04015  4020.5269
  154.19406   396.72626   165.51207   148.23366  3114.3372    129.88585
  124.50495   106.3309    231.74329   272.8602    388.0203    161.77357
 3233.9138   1908.6959    132.99428  2344.8994    687.8823    197.2613
  396.9513   2769.4314    260.80103  4567.2715   2620.6812    186.67656
  212.00099  3265.039    2951.0063    437.44342   135.33061   536.62335
  132.99428  4086.5134    233.55142  2697.7754    173.0257   1719.1322
 3445.835     163.71814   757.75836   666.38104   221.26239   103.8181
  135.33061   765.9014    328.33508   178.65366   113.822205  134.19711
  435.2105    220.12178  1414.9734    135.34454  2675.2256    690.9868
  365.96564  1783.9509   2466.6472    164.17546  1243.06      390.6663
  137.2137    491.827     396.4012    375.07925   294.82816   126.70901
 2766.829     159.09293  1718.4442    107.53035  2104.0896    172.73302
  478.4111    152.45166   275.29858  4078.1072    448.03418   138.32155
 3310.936    4023.1243   2612.1963   1010.7099    347.10324   147.90585
  938.6562    147.48656   740.0762    244.56894   793.55316   934.51935
  216.9207   1472.981     904.1327    515.2645  ]

In [ ]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA

# Load the dataset
data = pd.read_csv('/content/drive/MyDrive/ETH-USD.csv', parse_dates=['Date'], index_col='Date')

# Preprocess the data
data.dropna(inplace=True)  # Drop any missing values
closing_prices = data['Close']  # Extract the closing prices

# Split the data into training and testing sets
train_data = closing_prices[:len(closing_prices) - 30]
test_data = closing_prices[len(closing_prices) - 30:]

# Fit an ARIMA model to the training data
model = ARIMA(train_data, order=(2, 1, 1))
fitted_model = model.fit()

# Make predictions on the testing data
predictions = fitted_model.forecast(steps=len(test_data))[0]

# Calculate the mean absolute error (MAE) of the predictions
mae = np.mean(np.abs(predictions - test_data))

print("Mean Absolute Error: ", mae)
print("Predictions: ", predictions)

/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/base/tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  self._init_dates(dates, freq)
/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.9/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

Mean Absolute Error:  336.93216293770877
Predictions:  1072.3487009953121